html
{
  font-family: 'Montserrat', sans-serif;
}
.bottom
{
  display:flex;
  width:1000px;
}
.subscription,.whyUs
{
  flex:50%;
  
  
}
.top
{
  text-align:left;
  background-color:white;
  padding:10px;
  padding-left:40px;
  border-style: none;
  width:1000px;
}
.community
{
  color:rgba(82, 222, 227,1)
}
.subscription
{
  padding-left:30px;
    background-color:rgba(52, 148, 153); 
  color:white;
}
.hassle-free
{
  color:rgba(166, 224, 85)
}
button
{
  margin-left:100px;
  margin-top:1 0px;
  background-color:rgba(166, 224, 85);
  border:outset;
  width:200px;
  height:50px
}
.whyUs
{

  padding-left:30px;
  color:white;
  background-color:rgba(82, 222, 227,1);
}
.main-card
{
  border-style:outset;
  width:1000px;
  margin-left:100px;
  margin-top:100px;
  border-radius:10px;
 
  
}

#money
{
  font-size:1.5rem;
}
